/Pratica01/nbproject/private/
/Pratica04/nbproject/private/
/Pratica02/build/
/Pratica04/build/
/Pratica01_GabrieBernalle/Pratica01/build/
/Pratica01_GabrieBernalle/Pratica01/dist/
/Tp01/nbproject/private/
/Tp01/build/
/Tp01/dist/
